{% extends 'base.html.twig' %}

{% block montitre %}
    Mot de passe oublie
{% endblock %}


{% block inscription %}
    <h1 class="h3 mb-3 front-weight-normal">Mot de pass oublie</h1>
    {{ form(emailForm) }}
{% endblock %}