{% extends 'dashboard.html.twig' %}
{% block title %}Modifier Agence{% endblock %}

{% block body %}
    <h1>Modifier agence</h1>

    {{ include('agence/_form.html.twig', {'button_label': 'Modifier agence'}) }}
    <br>

    {{ include('agence/_delete_form.html.twig') }}<br>
    <a href="{{ path('agence_index') }}"><button class="btn btn-block btn-secondary">Retourner à la liste des agences</button></a>

{% endblock %}
