{% extends 'dashboard.html.twig' %}
{% block title %}Ajouter Agence{% endblock %}

{% block body %}
    <h1>Ajouter une Agence</h1>

    {{ include('agence/_form.html.twig') }}
    <br>
    <a href="{{ path('agence_index') }}"><button class="btn btn-block btn-secondary">Retourner à la liste des agences</button></a>
{% endblock %}
